# Created by https://www.gitignore.io/api/scala,playframework

### PlayFramework ###
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.cache-tests

### Scala ###
*.class
*.log

# sbt specific
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime

# End of https://www.gitignore.io/api/scala,playframework
.cache-main
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.scala-ide.sdt.core.prefs

# idea
.idea